<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Be (+)ve</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../fightingcovid/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../fightingcovid/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../fightingcovid/assets/img/avicon-16x16.png">
    <link rel="manifest" href="../fightingcovid/assets/img/site.webmanifest">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">

    <!-- Bootstrap core CSS -->
    <!-- <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- CSS only -->
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="carousel/carousel.css" rel="stylesheet" type="text/css">
</head>

</head>

<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">Be (+)ve</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/covid">DashBoard</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/questionnaire/graph">Statistics</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="/games">Games</a>
                    </li>

                    <% if(!currentUser) { %>

                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Sign up</a>
                        </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/questionnaire/new">Questionnaire</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Log out</a>
                            </li>
                            <% } %>
            </div>
        </nav>
    </header>

    <main role="main">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"></svg> <img src="../images/cov19_1.jpg" width="100%" height="100%" />
                    <rect width="100%" height="100%" fill="#777" />
                    </svg>
                    <div class="container">
                        <div class="carousel-caption text-left">
                            <h1 style="color: rgb(10, 7, 7);">BE (+) ve</h1>
                            <p style="color: rgb(10, 7, 7);">This informative website is made for the social welfare of the society for spreading<br> general awareness related to mental health and its respective effects during this<br> pandemic.</p>
                            <p><a class="btn btn-lg btn-warning" href="#" role="button">Sign up today</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"></svg><img src="../images/cov19_3.jpg" /></svg>
                    <div class="container">
                        <div class="carousel-caption"><br><br>
                            <h1 style="color: rgb(255, 255, 255);">Why mental health is important?</h1>
                            <p style="color: rgb(255, 254, 254);">Mental health includes our emotional, psychological, and social well-being. It affects how we think, feel, and act. It also helps determine how we handle stress, relate to others, and make healthy choices.</p>
                            <p><a class="btn btn-lg btn-success" href="https://www.who.int/teams/mental-health-and-substance-use/covid-19" role="button" target="_blank">Learn more</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"></svg><img src="../images/cov19_4.jpg" width="100%" height="100%" /></svg>
                    <div class="container">
                        <div class="carousel-caption text-right">
                            <h1 style="color: rgb(0, 0, 0)">India's degrading mental health!</h1>
                            <p style="color: rgb(2, 2, 2)">India is the fourth least happy country in a year of lockdowns, deaths and work from home.</p>
                            <p><a class="btn btn-lg btn-warning" href="https://www.businessinsider.in/india/news/india-is-fourth-least-happy-country-in-the-world-checkout-list-of-10-unhappiest-countries-in-the-world/slidelist/81588422.cms" role="button"
                                    target="_blank">Read Information</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


        <!-- Marketing messaging and featurettes
  ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">




            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Anxiety, depression and insomnia: <span class="text-muted">the impact of COVID-19 on mental health
        </span></h2>
                    <p class="lead">COVID-19 patients are at an increased risk of being diagnosed with anxiety, depression or insomnia. Here’s a closer look at how the SARS-CoV-2 virus can impact your mental health.
                        <a href="https://www.gavi.org/vaccineswork/anxiety-depression-and-insomnia-impact-covid-19-mental-health?gclid=Cj0KCQjwp86EBhD7ARIsAFkgakiA5MmSaglveOcQlTXCI86l0d_GFV-FEL1RIZ1SZWmQ_SNb8uZUTjQaAu5oEALw_wcB" target="_blank">Click to read the whole article...</a>
                    </p>
                </div>
                <div class="col-md-5">
                    <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title></svg><img src="../images/cov_head.jpg"  width="500" height="500"></svg> -->
                    <img src="../images/cov_head.jpg" width="500" height="500">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-1">
                    <h2 class="featurette-heading">Coronavirus: <span class="text-muted">The possible long-term mental health impacts</span></h2>
                    <p class="lead">Covid-19 has increased anxiety for many of us, and experts warn a sizable minority could be left with mental health problems that outlast the pandemic.<a href="https://www.bbc.com/worklife/article/20201021-coronavirus-the-possible-long-term-mental-health-impacts"
                            target="_blank">Click to read the whole article...</a></p>
                </div>
                <div class="col-md-5">
                    <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                    <img src="../images/cov_head1.jpg" width="450" height="450">

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">People with COVID-19 <span class="text-muted">More Likely to Develop Depression, Anxiety, and Dementia</span></h2>
                    <p class="lead">Nearly 20 percent of COVID-19 patients developed a mental health issue — like depression, anxiety, or dementia — within 3 months of diagnosis, according to a new study. Researchers evaluated the health records of 69 million people
                        in the United States, which included over 62,000 people diagnosed with COVID-19.<a href="https://www.healthline.com/health-news/people-with-covid-19-more-likely-to-develop-depression-anxiety-and-dementia" target="_blank">Click to read the whole article...</a></p>
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="../images/cov19_2.jpg" width="500" height="500">

                    <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div>
        <!-- /.container -->



        <!-- TO DO line 222 -->

        <p class=" offset-md-2 featurette-heading lead"><b>Developers of team "Coding-Trio"!</b></p><br><br>

        <!-- Three columns of text below the carousel -->
        <div class="row">

            <div class="col-lg-3 offset-md-2">
                <img src="../images/temp1.jpg" class="bd-placeholder-img rounded-circle" width="200" height="200">

                <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
                <h2>Anshika <br> Awasthi</h2>
                <p>Backend developer, designed the architecture of backend, created efficient data models & APIs, and worked on the integration of UI and business logic.</p><br><br>
                <p><a class="btn btn-warning" href="https://www.linkedin.com/in/anshika-awasthi-86a047165/" role="button">View details &raquo;</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-3">
                <img src="../images/temp3.jpg" class="bd-placeholder-img rounded-circle" width="200" height="200">
                <h2>Niharika <br> Varshney</h2>
                <p> Front-end developer, Designed multiple pages by using technologies like html, CSS, bootstrap, JS. Extracted real-time tweets, graphs using suitable APIs. Framed questions for questionnaire .</p><br><br>
                <p><a class="btn btn-warning" href="https://www.linkedin.com/in/niharika-varshney-982426197/" role="button">View details &raquo;</a></p>
            </div>
            <!-- /.col-lg-4 -->

            <div class="col-lg-3">
                <img src="../images/temp4.jpg" class="bd-placeholder-img rounded-circle" width="200" height="200">
                <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
                <h2>Vrinda <br> Sharma</h2>
                <p>Front-end developer, Worked on the creation of efficient User-Interface, Collection of informative data from reliable sources and integrating them with the website to ensure seamless User-experience by using technologies like html, CSS,
                    bootstrap, JS.</p>
                <p><a class="btn btn-warning" href="https://www.linkedin.com/in/vrindasharma18/" role="button">View details &raquo;</a></p>
            </div>
        </div>
        <!-- /.row -->
        <hr class="featurette-divider">
        <!-- FOOTER -->
        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            &copy; Copyright <strong><span> Be (+) ve</span></strong>. All Rights Reserved.<br> Designed by Coding Trio.
        </footer>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')
    </script>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

</html>




<!-- to do line 9, 41,  -->